<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/font-awesome.min.css">
<div class="row home-wrapper">
  <div class="col-md-6 right">
    <div class="heading">
      ABOUT ME
    </div>
    Hi. I'm Gaurav, a software developer from Toronto, Ontario.
    <ul>
      <li> I'm 20 Years Old and grew up in Toronto</li>
      <li> I love to watch NBA games and support my home team The Toronto Raptors </li>
      <li> My favorite Raptors player is Fred Vanvleet </li>
      <li> I have a 9 year old Cocker Spaniel & Poodle mix dog </li>
      <li> I like to solve puzzles and escape rooms </li>
      <li> I like working in teams to build fun tools and applications </li>
    </ul>
  </div>
  <div class="col-md-6 left">
  </div>
</div>