<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/font-awesome.min.css">
<div class="row home-wrapper">
  <div class="col-md-6 right">
    <div class="heading">
      ABOUT ME
    </div>
    Hi. I'm Gaurav, a software developer from Toronto, Ontario. 
    I am currently studying at the University of Toronto, enrolled in the Co-op Computer Science Program.
    Aiming to collect as much real world experience and knowledge as I can before entering the workforce.
    I am a fast learner who loves to tackle complex projects and try something new.
    The process of transforming simple lines of code into fully functional tools and programs is what drives my passion for computer science.
    To me, the art of computer science is like solving a puzzle, you have to analyze the pieces and find patterns.

    <ul>
      <li> I'm 20 Years Old and grew up in Toronto</li>
      <li> I love to watch NBA games and support my home team The Toronto Raptors </li>
      <li> My favorite Raptors player is Fred Vanvleet </li>
      <li> I have a 9 year old Cocker Spaniel & Poodle mix dog </li>
      <li> I like to solve puzzles and escape rooms </li>
      <li> I like working in teams to build fun tools and applications </li>
    </ul>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Gaurav Sharma - Trivia!</h2>
        <h6 class="card-subtitle mb-2 text-muted">get to know a little bit about me with the help of a quiz!</h6>
        <hr>
        <h3 style='text-align:center'> {{ questions[questionIndex][0] }} </h3>
        <div class="options">
          <button #option1 type="button" [ngClass]="getClass(1)" (click)="onSelectButton(option1)">{{ questions[questionIndex][1] }}</button>
          <button #option2 type="button" [ngClass]="getClass(2)" (click)="onSelectButton(option2)">{{ questions[questionIndex][2] }}</button>
          <button #option3 type="button" [ngClass]="getClass(3)" (click)="onSelectButton(option3)">{{ questions[questionIndex][3] }}</button>
          <button #option4 type="button" [ngClass]="getClass(4)" (click)="onSelectButton(option4)">{{ questions[questionIndex][4] }}</button>
        </div>
        <div class="nextButton">
          <button type="button" class="btn btn-light next" (click)="onSelectNext()"> next </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 left">
  </div>
</div>