.wrapper {
    width: 100%;
    margin: 0px;
    background-color: rgb(131, 177, 189);
}

input {
    margin: 20px 0px;
    border-radius: 50px;
}

.list {
    margin: 0px 20px;
}

.search {
    background-color: white;
}

.card {
    width: 100px; 
    height: 100px;
    font-size: 80px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.card > i {
    width: 80px;
    height: 80px;
    margin: auto;
}

.icons {
    padding: 20px;
    text-align: center;
}
