.wrapper {
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    background-color: rgb(131, 177, 189);
}

input {
    margin: 20px 0px;
    border-radius: 50px;
}

.list {
    margin: 0px 20px;
}

.search {
    background-color: white;
}