.wrapper {
    width: 100%;
    margin: 0px;
    background-color: rgb(98, 169, 197);
}

input {
    margin: 10px 0px;
    border-radius: 50px;
}

.list {
    margin: 0px 20px 20px;
}

.search {
    background-color: white;
    padding: 20px;
}

.card {
    width: 100px;
    height: 100px;
    font-size: 80px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
}

.card > i {
    width: 80px;
    height: 80px;
    margin: auto;
}

.icons {
    padding: 20px;
    text-align: center;
    background-color: rgb(98, 169, 197);
}

.expand-button {
    display: inline-block;
    text-align: right;
    margin: 0px;
}

.expand-button > i {
    cursor: pointer;
}

.row [class*='col-'] {
    transition: all 0.5s ease-in-out;
}

#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
  }

.collapsed {
    display: block;
    /* same width as sidebar */
    margin-left: calc(-200%/12);
}

.collapsed-right {
    display: block;
    /* same width as sidebar */
    margin-right: calc(-200%/12);
}

.search-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-title {
    padding-left: 10px;
}

@media (max-width: 992px) {
    .icons {
        padding: 0px;
        text-align: center;
    }
}
