<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row home-wrapper">
  <div class="col-md-6 right">
    <div class="right-content">
      <img src="assets/utoronto.png" alt="">
      <hr>
      <div class="list">
        <ul>
          <li>
            <h4> Third year student at the University of Toronto - Scarborough Campus</h4>
          </li>
          <li>
            <h4> Enrolled in the Computer Science Co-op program </h4>
          </li>
          <li>
            <h4> Specializing in Software Engineering </h4>
          </li>
          <li>
            <h4> Estimated to complete program by April 2021 </h4>
          </li>
          <li>
            <h4> Completed a 12 month Software Developer Internship at <a href="https://www.caseware.com/ca"> CaseWare
                Inc </a> </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6 left">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.8216694826156!2d-79.1884621561418!3d43.78420089002143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da6fb7abd57f%3A0xbb656e0169887bac!2sUniversity%20of%20Toronto%20Scarborough!5e1!3m2!1sen!2sca!4v1573942842819!5m2!1sen!2sca"
      width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>