<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row home-wrapper">
  <div class="col-md-6 right">
    <img src="assets/utoronto.png" alt="">
    <hr>
    <div class="list">
      <ul>
        <li>
          <h4> Third year student at the University of Toronto - Scarborough Campus</h4>
        </li>
        <li>
          <h4> Specializing in Software Engineering </h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6 left">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.46888501697!2d-79.18878748503634!3d43.78388267911703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4da6e6ad44491%3A0x6e32e2e495d5ec53!2sUTSC%20Academic%20Advising%20%26%20Career%20Centre!5e0!3m2!1sen!2sca!4v1573932111039!5m2!1sen!2sca"
      width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
  </div>
</div>