<div class="card" *ngIf="validSkills.length > 0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
          <div class="card-title">
            <b *ngIf="experience.position"> {{experience.position}}, </b>
            <b> {{experience.name}} </b> 
          </div>
      </div>
      <div class="col-md-4" style='text-align: right'>
          <div class="location-subtext"> {{experience.date}} </div>
      </div>
    </div>
    <div class="row card-title">
      <div class="col-md-12">
          <div class="location-subtext"> {{experience.location}} </div>
      </div>
    </div>
    <hr>
    <li *ngFor="let skill of validSkills"  class="card-text"> {{skill.description}} </li>
  </div>
</div>


