<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
<div class="row home-wrapper">
  <div class="col-md-6 left">
  </div>
  <div class="col-md-6 right">
    <h3 class="name"> GAURAV SHARMA </h3>
    <hr>
    <div>
      <a href="https://www.linkedin.com/in/gaurav-sharma-844bb6148/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/Gaurav1881"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>