<script src="https://kit.fontawesome.com/2234637e47.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
<div class="row home-wrapper">
  <div class="col-md-6 left">
  </div>
  <div class="col-md-6 right">
    <h3 class="name"> GAURAV SHARMA </h3>
    <hr>
    <div>
      <a href="https://www.linkedin.com/in/gaurav-sharma-844bb6148/"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/Gaurav1881"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>