.home-wrapper {
 height: 100vh;
 width: 100%;
 margin: 0;
 background-color: rgb(255, 255, 255);
}

.right {
    text-align: center;
    margin: auto;
}

.left {
    background-image: url('../../assets/profile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60%;
}

.button-wrapper {
    border: none;
}

button {
    margin: 0px 30px;
}

button:hover >  i {
    color: white;
}


@media screen and (min-width: 601px) {
    .name {
        font-family: 'Neucha', cursive;
        font-size: 64px;
    }
    i {
        font-size: 36px;
        color: black;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .name {
        font-family: 'Neucha', cursive;
        font-size: 32px;
    }
    i {
        font-size: 24px;
        color: black;
    }
}
