<script src="https://kit.fontawesome.com/2234637e47.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
<div class="row home-wrapper">
  <div class="col-md-6 left">
  </div>
  <div class="col-md-6 right">
    <h3 class="name"> GAURAV SHARMA </h3>
    <hr>
    <div>

      <a href="https://www.linkedin.com/in/gaurav-sharma-844bb6148/">
        <button type="button" class="btn btn-outline-dark button-wrapper">
          <i class="fa fa-linkedin"></i>
        </button>
      </a>
      <a href="https://github.com/Gaurav1881" class="link-block">
        <button type="button" class="btn btn-outline-dark button-wrapper">
          <i class="fa fa-github"></i>
        </button>
      </a>
      <a href="/assets/resume.pdf" target="_blank">
        <button type="button" class="btn btn-outline-dark btn-lg">Resume</button>
      </a>
    </div>
  </div>
</div>
